<h1>Images of foxes</h1>

<div class="flex flex-wrap">
{{wtf-img-card imgName="babyfox1.jpg" title="Baby fox"}}

{{wtf-img-card imgName="babyfox2.jpg" title="Another baby fox"}}

{{wtf-img-card imgName="babyfox3.jpg" title="MORE BABY FOX"}}

{{wtf-img-card imgName="adultfox.jpg" title="An adult fox"}}

{{wtf-img-card imgName="foxfamily.jpg" title="A fox family"}}

{{wtf-img-card imgName="foxfamily2.jpg" title="A different fox family"}}

{{wtf-img-card imgName="foxeatingorange.jpg" title="A fox eating an orange"}}

{{wtf-img-card imgName="foxcarryingfish.jpg" title="A fox carrying his fish friend on land"}}

{{wtf-img-card imgName="arcticfox.jpg" title="An arctic fox"}}
</div>
